html {
    
    display: block;
    font-family: Arial, sans-serif;
    /* border:2px solid rgba(88, 2, 2, 0.952);
    border-radius: 30px; */
    margin: 0% 1% 1% 10%;
    padding: 1vh 1vw;
   
}


body{
   
    padding: 1%;
    /* background-color: rgb(233, 214, 219); */
    font-family: Arial, sans-serif;
}

h1 {
    
    color: rgb(219, 215, 215);
    font-size: 5vw;
    line-height: 100%;
  font-variant: small-caps;
}
h3{
    font-size: 30px;
    

}
.personal{
    line-height: 25px


}
.personal_item{
   
    line-height: 35px;
    /* padding: 15% 100%  */
    text-align: center;
}

.ava {
    height: 30%;
    width: 30%;
    border-radius: 50%;
}
.prof{
    display: block;
    margin-top: -30px;
    text-align:10px;
    font-size: 20px;
text-decoration-line: underline;
}
.header{

    float:left; /*Задаем обтекание*/
  
     background: rgb(111, 69, 80);
    width: 35%; /*Фиксируем ширину блока*/
     text-align: center; /*Центрируем текст по горизонтали*/
     height: 100vh;
     line-height: 45px
        }

.other{
   
    float: right;
    width: 60%;
    line-height: 1px;
    box-sizing: border-box;
   
   
}
li {
    width: 180px;
    /* background: cmyk(0, 30, 50, 56); */
    line-height: 50px;
    font-size: 32px
 text-align justify;
 line-height: 35px;
 list-style-type: none;
    }
ul{
    margin-left: 0%;
    padding-left: 3%;
}
.icon{
    font-size: 2vw;
    display: inline-table;
}
p{
    font-size: 7vw;
}
.school{
    width: 15vw;
}